@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html, body{
  min-height: 100%;
  height: 100%;
}

body{
  font-family: "Droid Sans", sans;
  /*background: rgb(244, 244, 244);*/
  height: 100%;
}

body *, .btn {
   font-family: "Droid Sans", sans;
}

.left-menu{
  text-align: center;
}

#aynex-logo{
  margin: 10px auto;
  height: 150px;
}

/* Left Menu Style */
.left-menu{
  background-color: rgb(244, 244, 244);
  box-shadow: -3px 0px 4px 3px rgb(0,0,0);
  z-index: 10;
  font-size: 1.4em;
  font-weight: bold;
  position: fixed;
}

/*Top Menu and Stuff*/
.top-menu{
  background-color: rgb(244, 244, 244);
}
.top-menu ul{
  margin: 0 auto;
  width: 100%;
  font-weight: bold;
}

.top-menu ul > li{
  text-align: center;
  margin: 0 auto;
}

.full-height{
  height: 100%;
}


.mah-body h2, .mah-body h3, .mah-body h4{
  padding-bottom: 10px;
}

.mah-body h2{
  padding-top: 5px;
}

.mah-body a{
  color: #00f;
  text-decoration: underline;
}

/* Thumbnails */

.thumb{
  height: 200px !important;
}